<!DOCTYPE html>
<html>
<title>TenaRent</title>
<body>

<h1>Rent Box</h1>

  <div class="topnav">
    <a href="Home.ejs">Home</a>
    <a href="News.ejs">News</a>
    <a href="Alerts">Alerts</a>
    <a href="Messages">Messages</a>
    <a href="Rent">Rent</a>
    <a href="Sign Up">Sign Up</a>
    <a href="Log In">Log In</a>
  </div>


  <img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">




  <div id="mySidenav" class="sidenav">
    <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Chat</a>
    <a href="#">Member Services</a>
    <a href="#">Pay Rent</a>
  </div>



<p>The Most Efficeint Way To Communicate With Your Neighbors And Landlords</p>



























<div>
  <a href="News.ejs">News</a>
  <a href="Alerts.ejs">Alerts</a>
  <a href="PayRent.ejs">Pay Rent</a>
</div>


</body>
</html>
