<!DOCTYPE html>
<html>
<<<<<<< HEAD
<title>TenaRent</title>
<body>

<h1>Rent Box</h1>

  <div class="topnav">
    <a href="Home.ejs">Home</a>
    <a href="News.ejs">News</a>
    <a href="Alerts">Alerts</a>
    <a href="Messages">Messages</a>
    <a href="Rent">Rent</a>
    <a href="Sign Up">Sign Up</a>
    <a href="Log In">Log In</a>
  </div>


  <img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">




  <div id="mySidenav" class="sidenav">
    <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Chat</a>
    <a href="#">Member Services</a>
    <a href="#">Pay Rent</a>
  </div>



<p>The Most Efficeint Way To Communicate With Your Neighbors And Landlords</p>



























<div>
  <a href="News.ejs">News</a>
  <a href="Alerts.ejs">Alerts</a>
  <a href="PayRent.ejs">Pay Rent</a>
</div>


</body>
</html>
=======
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>
  <body>

  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#login">Login</a>
    <a href="#rent">Rent</a>
    <a href="#chat">Chat</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>

  <h1>Messages</h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border:1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  backgrxound-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
</style>
</head>
<body>

<div class="row">
  <div class="left" style="background-color:#bbb;">
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
    <ul id="myMenu">
      <li><a href="#">Direct Messages</a></li>
      <li><a href="#">Landlord</a></li>
      <li><a href="#">Floor 1</a></li>
      <li><a href="#">Floor 2</a></li>
      <li><a href="#">Floor 3</a></li>
      <li><a href="#">Floor 4</a></li>
      <li><a href="#">Floor 5</a></li>
      <li><a href="#">Floor 6</a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>

  <div class="right" style="background-color:#ddd;">
    <h2></h2>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>

<script>
function myFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

</head>
<body>
>>>>>>> 64c22bc72cd27eeba779fc6be25f0e0c994e8179
