<!DOCTYPE html>
<html>
<title>Sign Up </title>
<body>
  <div>
    <a href="Home.ejs">Home</a>
    <a href="LogIn.ejs">Log In</a>
    <a href="Rent.ejs">Rent</a>
    <a href="Messages.ejs">Messages</a>
  </div>
<h1 style="color:DarkBlue;"></h1>

<div class="container">

  <input type="text" placeholder="FirstName" name="Fname" required><br>

  <input type="text" placeholder="Last Name" name="LName" required><br>

  <input type="text" placeholder="Create Username" name="User" required><br>

  <input type="text" placeholder="Email" name="Email" required><br>

  <input type="password" placeholder="Create Password" name="psw" required><br>

  <input type="password" placeholder="Confirm Password" name="Cpsw" required><b>

  <br><button type="submit">SignUp</button>

  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>

</form>


<h3 style="color:Grey;"> You're all ready to go!</h3>








</body>



</html>
